.root{
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    -fx-background-radius: 20;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 20;
}

.body {
    background-color: #00ff80;
    font-family: Arial, Helvetica, sans-serif;
}

.text-field {
    -fx-background-color: #D2F6F7;
    -fx-background-radius: 30;
}
.text-field:focused {
    -fx-border-color: #D2F6F7;
    -fx-border-width: 2px;
    -fx-border-radius: 30;
}

.button {
    -fx-background-color: #152A5D;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30;
}

.button:hover {
    -fx-background-color: #525874;
}

.button:focused {
}